# AUTOMATING WORKFLOW BETWEEN EXCEL AND PYTHON

# Installing the Necessary Libraries

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\odg\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\odg\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\odg\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\odg\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\odg\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\odg\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
print("Libriry Installed Succesfully")

Libriry Installed Succesfully

# Importing the Necessary Libraries

In [3]:
import pandas as pd

In [6]:
print("Imported Libraries Successfully")

Imported Libraries Successfully

# Loading Our Dataset

In [9]:
# Importing Our CSV file for Visualization
sales_df = pd.read_csv("monthly_sales_data.csv")

In [59]:
sales_df.head(10)

     Month Region     Product  Units Sold  Unit Price  Revenue
0  2024-01  North  Software A         120          45     5400
1  2024-01  South  Software B          80          60     4800
2  2024-01   East  Software C          50          90     4500
3  2024-02  North  Software A         140          45     6300
4  2024-02  South  Software B          95          60     5700
5  2024-02   East  Software C          60          90     5400
6  2024-03  North  Software A         160          45     7200
7  2024-03  South  Software B         100          60     6000
8  2024-03   East  Software C          75          90     6750
9  2024-04  North  Software A         130          45     5850

# Checking our data for Non Value

In [11]:
sales_df.isnull()

    Month  Region  Product  Units Sold  Unit Price  Revenue
0   False   False    False       False       False    False
1   False   False    False       False       False    False
2   False   False    False       False       False    False
3   False   False    False       False       False    False
4   False   False    False       False       False    False
5   False   False    False       False       False    False
6   False   False    False       False       False    False
7   False   False    False       False       False    False
8   False   False    False       False       False    False
9   False   False    False       False       False    False
10  False   False    False       False       False    False
11  False   False    False       False       False    False
12  False   False    False       False       False    False
13  False   False    False       False       False    False
14  False   False    False       False       False    False

# Grouping Dataset by Month

In [14]:
# group dataset by month, product and revenue
monthly_summary = sales_df.groupby(["Month", "Product"]) ["Revenue"].sum().reset_index()
monthly_summary

      Month     Product  Revenue
0   2024-01  Software A     5400
1   2024-01  Software B     4800
2   2024-01  Software C     4500
3   2024-02  Software A     6300
4   2024-02  Software B     5700
5   2024-02  Software C     5400
6   2024-03  Software A     7200
7   2024-03  Software B     6000
8   2024-03  Software C     6750
9   2024-04  Software A     5850
10  2024-04  Software B     6600
11  2024-04  Software C     7650
12  2024-05  Software A     6750
13  2024-05  Software B     5400
14  2024-05  Software C     8550

# Creating an Excel File for Saving Monthly Report with Charts

# Installing the xlsx Engine for Saving of Excel file

In [17]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.2.3-py3-none-any.whl.metadata (2.7 kB)
Downloading XlsxWriter-3.2.3-py3-none-any.whl (169 kB)
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.2.3

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [55]:
writer = pd.ExcelWriter("monthly_sales_with_chart.xlsx", engine="xlsxwriter")

#  Committing the file to Excel

In [56]:
monthly_summary.to_excel(writer, sheet_name = "Revenue", index = False)

# Adding Charts in Python to Excel

In [57]:
workbook = writer.book # creates the workbook object
worksheet = writer.sheets["Revenue"] # creates a worksheet object

# Creating a Line Chart

In [58]:
# create a line Chart
chart = workbook.add_chart({"type": "line"})

chart.add_series({
    "name": "Revenue",
    "categories": ["Revenue", 1, 0, len(monthly_summary), 0],
    "values": ["Revenue", 1, 2, len(monthly_summary), 2],
})

chart.set_title({"name": "Monthly Revenue By Product"})
chart.set_x_axis({"name": "Month"})
chart.set_y_axis({"name": "Revenue ($)"})

worksheet.insert_chart("E2", chart)
writer.close()